@{
    ViewBag.Title = "Strona główna";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li class="active"><i class="icon_house_alt"></i> Home</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Strona główna
                    </header>
                    <div class="panel-body">
                        <div style="text-align: center">
                            <img src="~/img/ITA_logo.png" style="margin: auto; display: block; ">
                            <span>System Wspomagania Zarządzaniem Inteligentną Metropolią</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
<!--main content end-->