@{
    ViewBag.Title = "Home Page";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div style="text-align: center">
                <img src="~/img/ITA_logo.png" style="margin: auto; display: block; ">
                System Wspomagania Zarządzaniem Inteligentą Metropolią
            </div>
            
        </div>
    </section>
</section>
<!--main content end-->