@*<script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzt7wCdOhUMdTMjibNINeiWPfMhjsIxJU">
    </script>*@
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.exp">
</script>

<script type="text/javascript">
    var map; //obiekt globalny

    // wspólne cechy ikon
    var rozmiar = new google.maps.Size(32, 32);
    var punkt_startowy = new google.maps.Point(0, 0);
    var punkt_zaczepienia = new google.maps.Point(16, 16);
    var dymek = new google.maps.InfoWindow(); 
    var activeLayers = new Array();
    
    function initialize() {
        var mapOptions = {
            center: { lat: 52.233, lng: 21.017 },
            zoom: 12
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // ikonki
        var ikona_warning = new google.maps.MarkerImage("/img/map-icons/exclamation31.png", rozmiar, punkt_startowy, punkt_zaczepienia);
        var ikona_point = new google.maps.MarkerImage("/img/map-icons/map54.png", rozmiar, punkt_startowy, punkt_zaczepienia);
        var ikona_danger = new google.maps.MarkerImage("/img/map-icons/danger10.png", rozmiar, punkt_startowy, punkt_zaczepienia);
        var ikona_beer = new google.maps.MarkerImage("/img/map-icons/beer34.png", rozmiar, punkt_startowy, punkt_zaczepienia);

        //dodajMarker({ position: new google.maps.LatLng(52.254461, 20.900107), title: 'Danger zone!', icon: ikona_warning, text: "Danger zone!" });
        //dodajMarker({ position: new google.maps.LatLng(52.235840, 21.037748), title: 'Om nom nom', icon: ikona_beer, text: "Piwo pod chmurką" });
        //dodajMarker({ position: new google.maps.LatLng(52.252204, 20.913494), title: 'Aaaaaaaaaaa!', icon: ikona_danger, text: "Czarny punkt" });
        //dodajMarker({ position: new google.maps.LatLng(53.4014, 14.5104), title: 'Tu byłem 6 razy', icon: ikona3 });
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    var mapa; // obiekt globalny

    function dodajMarker(opcjeMarkera) {
        opcjeMarkera.map = map;
        var marker = new google.maps.Marker(opcjeMarkera);
        marker.text = opcjeMarkera.text;

        google.maps.event.addListener(marker, "click", function () {
            if (marker.text != undefined) {
                dymek.setContent(marker.text);
                dymek.open(map, marker);
            }
        });
        return marker;
    }

    function toggleWyswietl(id) {
        for (var i = 0; i < activeLayers.length; i++) {
            alert(id);
        }
    }
    //test
    function wyswietlWarstwe(id) {
        $.get("/Map/GetAllEventsForLayout/" + id, function (data) {
            for (var i = 0; i < data.length; i++) {
                var ico = new google.maps.MarkerImage(data[i].icon, rozmiar, punkt_startowy, punkt_zaczepienia);
                dodajMarker({ position: new google.maps.LatLng(data[i].lat, data[i].lon), title: data[i].name, icon: ico, text: data[i].desc });
            }

            var isActive = false;
            for (var j = 0; j < activeLayers.length; j++) {
                if (activeLayers[j] != undefined && activeLayers[j] == id)
                    isActive = true;
            }

            if(!isActive)
                activeLayers.push(id);
        });
    }

</script>

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon_house_alt"></i> Home</a></li>
                    <li class="active"> Mapa</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <div id="map-canvas" style="height: 460px;"></div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>