@*<script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzt7wCdOhUMdTMjibNINeiWPfMhjsIxJU">
    </script>*@
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.exp">
</script>

<script type="text/javascript">
    var map; //obiekt globalny
    var markers = [];
    // wspólne cechy ikon
    var rozmiar = new google.maps.Size(32, 32);
    var punkt_startowy = new google.maps.Point(0, 0);
    var punkt_zaczepienia = new google.maps.Point(16, 16);
    var dymek = new google.maps.InfoWindow();
    var activeLayers = [];

    function initialize() {
        var mapOptions = {
            center: { lat: 52.233, lng: 21.017 },
            zoom: 12
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

    }
    google.maps.event.addDomListener(window, 'load', initialize);

    function addMarker(options) {
        var marker = new google.maps.Marker(options);
        google.maps.event.addListener(marker, "click", function () {
            if (marker.text != undefined) {
                dymek.setContent(marker.text);
                dymek.open(map, marker);
            }
        });
        markers.push(marker);
    }

    function getLayer(id) {
        $.ajaxSetup({ async: false });
        $.get("/Map/GetAllEventsForLayout/" + id, function (data) {
            for (var i = 0; i < data.length; i++) {
                var ico = new google.maps.MarkerImage(data[i].icon, rozmiar, punkt_startowy, punkt_zaczepienia);
                addMarker({ position: new google.maps.LatLng(data[i].lat, data[i].lon), icon: ico, title: data[i].name, text: data[i].desc, layerid: id });
            }
        });
    }

    function setMarkers(mapa) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(mapa);
        }
    }

    function onClickLayer(id) {
        var isInActivelayers = false;
        var position;
        for (var i = 0; i < activeLayers.length; i++) {
            if (activeLayers[i] == id) {
                isInActivelayers = true;
                position = i;
                break;
            }
        }

        if (isInActivelayers) {
            deleteLayer(id);
            activeLayers.splice(position, 1);
        } else {
            getLayer(id);
            activeLayers.push(id);
            setMarkers(map);
        }
    }

    function deleteLayer(id) {
        var i = markers.length;
        while (i--) {
            if (markers[i].layerid == id) {
                markers[i].setMap(null);
                markers.splice(i, 1);
            }
        }
    }

    function clearAllMarkers() {
        setMarkers(null);
        markers = [];
        activeLayers = [];
    }

</script>



<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon_house_alt"></i> Home</a></li>
                    <li class="active"> Mapa</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <div id="map-canvas" style="height: 460px;"></div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>